# deps
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
.next/
storybook-static/
packages/tokens/build/css/
packages/tokens/build/js/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.tsbuildinfo

# test
coverage/
